<h1>Catálogo de Produtos</h1>

<div class="products-list">
  <% @products.each do |product| %>
    <div class="product-item">
      <h2><%= product.name %></h2>
      <p>Preço: R$ <%= number_to_currency(product.price) %></p>
      <%= link_to 'Ver detalhes', product_path(product), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

